.cart {
    background-color: rgb(255, 153, 0, .3);
    padding: 20px 30px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.btn-clear-cart {
    width: 100%;
    height: 56px;
    font-size: 18px;
    margin: 10px auto;
    background: #FF3030;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}